/* Write your CSS code here */
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 30px;
}

.paragraph {
  color: #0967d2;
  font-family: 'Roboto';
  font-size: 13px;
}

.shopNow-btn {
  background-color: #0b69ff;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
  border: 0px;
}

.home-img {
  height: 450px;
  width: 450px;
  margin-left: 20px;
}
